<div class="container">
  <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around">
    <div class="d-flex flex-column justify-content-center align-self-center align-self-md-start">
      <app-section-sub-title
        class="pt-3"
        [text]="'about.education.title'"
      ></app-section-sub-title>
      <app-timeline-row
        class="py-3"
        *ngFor="let education of educationList"
        [timeline]="education"
      ></app-timeline-row>
    </div>
    <div class="d-flex flex-column justify-content-center align-self-center align-self-md-start">
      <app-section-sub-title
        class="pt-3"
        [text]="'about.experience.title'"
      ></app-section-sub-title>
      <app-timeline-row
        class="py-3"
        *ngFor="let experience of experienceList"
        [timeline]="experience"
      ></app-timeline-row>
    </div>
  </div>
</div>
