<nav class="navbar navbar-expand-lg navbar-custom ">
        <div class="mx-auto d-md-flex d-md-block flex-md-nowrap">
          <button
            class="navbar-toggler"
            style="border:none;color: white;"
            type="button"
            (click)="isCollapsed = !isCollapsed"
          >
            <fa-icon [icon]="faBars"></fa-icon>
          </button>
          <div
            class="collapse navbar-collapse "
            [ngbCollapse]="isCollapsed"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link custom-text"
                  [routerLinkActive]="['active']"
                  [routerLink]="['/home']"
                  (click)="toggleNavbar()"
                  >{{ "navBar.Home" | translate }}</a
                >
              </li>
              <li class="nav-item">
                  <a
                    class="nav-link custom-text"
                    [routerLinkActive]="['active']"
                    [routerLink]="['/about']"
                    (click)="toggleNavbar()"
                    >{{ "navBar.Resume" | translate }}</a
                  >
                </li>
              <li class="nav-item ">
                <a
                  class="nav-link custom-text"
                  [routerLinkActive]="['active']"
                  [routerLink]="['/services']"
                  (click)="toggleNavbar()"
                  >{{ "navBar.Services" | translate }}</a
                >
              </li>
             
              <li class="nav-item">
                <a
                  class="nav-link custom-text"
                  [routerLinkActive]="['active']"
                  [routerLink]="['/contact']"
                  (click)="toggleNavbar()"
                  >{{ "navBar.Contact" | translate }}</a
                >
              </li>
              <li
                class="nav-item ml-lg-3  "
                ngbDropdown
                display="dynamic"
                [placement]="isCollapsed ? 'bottom-right' : 'bottom-left'"
              >
                <a
                  class="nav-link custom-text"
                  style="cursor: pointer"
                  ngbDropdownToggle
                  id="languageNavDropdown"
                  role="button"
                >
                  {{ language | translate }}
                </a>
                <div
                  ngbDropdownMenu
                  aria-labelledby="languageNavDropdown"
                  class="dropdown-menu"
                >
                  <a
                    class="dropdown-item"
                    (click)="changeLanguage('en')"
                    >EN</a
                  >
                  <a
                    class="dropdown-item"
                    (click)="changeLanguage('es')"
                    >ES</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>