<div class="container">
  <div
    class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around"
  >
    <div class="d-flex justify-content-center pb-5">
      <img
        src="assets/images/home/mainHomeImg.jpg"
        style="max-height: 300px;max-width: 300px;border-radius: 50%;transform:rotate(-27deg);"
      />
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2 class="pb-4 custom-text-white">Alberto Caro Fernandez</h2>
      <p
        class="pb-4 custom-text-white"
        style="max-width: 500px;"
      >
        {{ "about.aboutMe.resume" | translate }}
      </p>
      <app-download-cv></app-download-cv>
    </div>
  </div>
</div>
