<div class="card bg-dark" style="width: 20rem;height: 19rem;">
  <img
    [src]="servicesCardModel.image"
    class="mx-auto d-block card-img-top pt-4 pb-1"
    alt="..."
    style="max-height: 100px;max-width: 100px;"
  />
  <div class="card-body pt-4">
    <h4 class="card-title text-center">
      {{ servicesCardModel.title | translate }}
    </h4>
    <p class="card-text pt-1">{{ servicesCardModel.content | translate }}</p>
  </div>
</div>
