<div class="card bg-dark" style="max-width: 27rem;">
  <div class="card-body">
    <h4 class="card-title pb-2">
      {{ timeline.title | translate }}
      <span class="custom-color">{{
        timeline.secondTitle | translate
      }}</span>
    </h4>
    <h6 class="card-subtitle pb-3">
        <i>{{ timeline.time | translate }}</i>
    </h6>
  <div *ngFor="let content of timeline.content">
      <p class="card-text pb-2">{{ content | translate }}</p>
  </div>
  </div>
</div>
