  <form class="pt-3" [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="background-color: transparent;">
    <div class="row">
      <div class="form-group col-12 col-md-6" >
        <label for="contactName">{{
          "contact.contactForm.name" | translate
        }} <span *ngIf="name.invalid">*</span></label>
        <input
          type="text"
          class="form-control text-white"
          id="contactName"
          formControlName="name"
          style="background-color: transparent;"
        />
        <small
          *ngIf="submitted && name.invalid && !!name.errors.required"
          id="nameErrorRequired"
          class="form-text text-danger"
          >{{ "contact.contactForm.errorRequired" | translate }}</small
        >
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="contactEmail">{{
          "contact.contactForm.email" | translate
        }} <span *ngIf="email.invalid">*</span></label>
        <input
          type="email"
          class="form-control text-white"
          id="contactEmail"
          formControlName="email"
          style="background-color: transparent;"
        />
        <div *ngIf="email.invalid">
          <small
            *ngIf="submitted && !!email.errors.required"
            id="emailErrorRequired"
            class="form-text text-danger"
            >{{ "contact.contactForm.errorRequired" | translate }}</small
          >
          <small
            *ngIf="!!email.errors.email"
            id="emailErrorPattern"
            class="form-text text-danger"
            >{{ "contact.contactForm.errorPatternEmail" | translate }}</small
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label for="contactMessage">{{
          "contact.contactForm.message" | translate
        }} <span *ngIf="message.invalid">*</span></label>
        <textarea
          class="form-control text-white"
          style="min-height: 200px;background-color: transparent;"
          id="contactMessage"
          formControlName="message"
        ></textarea>
        <small
          *ngIf="submitted && message.invalid && !!message.errors.required"
          id="messageErrorRequired"
          class="form-text text-danger"
          >{{ "contact.contactForm.errorRequired" | translate }}</small
        >
      </div>
    </div>
    <div class="row py-3">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary custom-button center" style="width: 100px">
                {{ "contact.contactForm.submit" | translate }}
              </button>
          </div>
    </div>
  </form>
