  <h1 class="custom-text text-center">
    {{ "contact.contactMessage.sendTitle" | translate }}
  </h1>
  <h3 class="custom-text py-1" style="color: grey">
    {{ "contact.contactMessage.sendSubTitle" | translate }}
  </h3>
 
  <div class="py-3 text-center">
    <img
      src="assets/images/contact/envelope.svg"
      style="max-height: 150px;max-width: 150px;"
    />
  </div>
  <div class="py-3 text-center">
    <button
      class="btn btn-primary custom-button"
      style="width: 100px"
      (click)="writeAgain()"
    >
      {{ "generic.buttons.back" | translate }}
    </button>
  </div>
