<div class="bgimg">
  <app-language-dropdown></app-language-dropdown>
  <div class="container">
    <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column home-content align-items-center">
        <h1 class="pb-3" style="font-size: 60px;font-weight: bold;">
          Alberto Caro
        </h1>
        <h2 class="pb-5">{{ "home.work" | translate }}</h2>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center py-5">
    </div>
  </div>
</div>
