.bgimg {
    background-image: url("/assets/images/home/home_mobile1.jpg");
    height: 90vh;
    background-size: cover;
    background-position: 50% 50%;
  }

  .home-content {
    padding-top: 30%;
}