<div
  class="d-flex justify-content-center"
  *ngIf="loading$ | async"
  style=" padding-top: 25%; z-index: 5000;"
>
  <div class="spinner-grow" role="status">
    <span class="sr-only"></span>
  </div>
</div>
