.bgimg {
  background-image: url("/assets/images/home/home4.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display:flex;
   height: 
   100vh;
    margin: 0;
}

.home-content {
  padding-top: 25%;
}

