<app-language-dropdown class="d-lg-none"></app-language-dropdown>
<app-section-title [text]="'contact.title'"></app-section-title>
<div class="container">
    <div
    *ngIf="formSubmitted"
    class="d-flex flex-column justify-content-center align-self-center align-items-center"
  >
    <app-contact-message-send></app-contact-message-send>
  </div>
  <div
    class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around"
  >
    
    <div
      *ngIf="!formSubmitted"
      class="d-flex flex-column justify-content-center align-self-center align-self-md-start"
    >
      <app-contact-message></app-contact-message>
    </div>
    <div
      *ngIf="!formSubmitted"
      class="d-flex flex-column justify-content-center  align-self-md-start"
    >
      <app-personal-info></app-personal-info>
    </div>
  </div>
</div>
<div style="padding-top: 5rem">
    <app-footer ></app-footer>
</div>
