<app-section-sub-title
  class="py-3"
  [text]="'contact.personalInfo.title'"
></app-section-sub-title>
<div class="d-flex flex-column align-self-start pt-3">
  <label>+34 601-123-765</label>
  <label>albercode10@gmail.com</label>
</div>
<div class="d-flex flex-row align-self-start py-2">
  <fa-icon  [icon]="faLinkedin" size="2x" (click)="routeToExternallink('https://www.linkedin.com/in/alberto-caro-fern%C3%A1ndez-714138a6/')"></fa-icon>
  <fa-icon class="pl-3" [icon]="faStackOverflow" size="2x" (click)="routeToExternallink('https://stackoverflow.com/users/4424574/alber')"></fa-icon>
</div>
