<div class="container">
    <div class="d-flex flex-column justify-content-center">
      <app-section-sub-title
        
        [text]="title"
      ></app-section-sub-title>
      <app-services-card-list
        class="py-3"
        [servicesCardList]="servicesCardList"
      ></app-services-card-list>
      <app-services-skill-list
        class="py-4"
        [servicesSkillList]="servicesSkillList"
      ></app-services-skill-list>
    </div>
  </div>