<div
  class="d-flex flex-row justify-content-end px-3"
  ngbDropdown
  display="dynamic"
>
  <a
    class="custom-text language"
    style="cursor: pointer;font-size: 18px;"
    ngbDropdownToggle
    id="languageNavDropdown"
    role="button"
  >
    {{ language | translate }}
  </a>
  <div
    ngbDropdownMenu
    aria-labelledby="languageNavDropdown"
    class="dropdown-menu"
  >
    <a class="dropdown-item" (click)="changeLanguage('en')">EN</a>
    <a class="dropdown-item" (click)="changeLanguage('es')">ES</a>
  </div>
</div>