<nav class="navbar navbar-expand navbar-custom">
    <div class="mx-auto d-flex flex-row justify-content-center flex-md-nowrap">
      <div
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <app-nav-bar-icon-button [icon]="faHome" [title]="'navBar.Home'" [url]="'/home'"></app-nav-bar-icon-button>
          </li>
          <li class="nav-item">
            <app-nav-bar-icon-button [icon]="faAddressCard" [title]="'navBar.Resume'" [url]="'/about'"></app-nav-bar-icon-button>
            </li>
          <li class="nav-item">
            <app-nav-bar-icon-button [icon]="faCog" [title]="'navBar.Services'" [url]="'/services'"></app-nav-bar-icon-button>
          </li>
         
          <li class="nav-item">
            <app-nav-bar-icon-button [icon]="faEnvelopeSquare" [title]="'navBar.Contact'" [url]="'/contact'"></app-nav-bar-icon-button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  