<app-language-dropdown class="d-lg-none"></app-language-dropdown>
<app-section-title [text]="'services.title'"></app-section-title>
<app-services-front-end ></app-services-front-end>
<hr class="pb-3">
<app-services-back-end></app-services-back-end>
<app-footer></app-footer>

