<app-language-dropdown class="d-lg-none"></app-language-dropdown>
<app-section-title [text]="'about.title'"></app-section-title>
<app-about class="section-separator"></app-about>
<app-timeline-list class="section-separator"></app-timeline-list>
<app-footer></app-footer>
