<a
  class="nav-link custom-text"
  [routerLinkActive]="['active']"
  [routerLink]="[url]"
  (click)="scrollTop()"
>
  <div class="d-flex flex-column align-items-center px-1">
    <fa-icon [icon]="icon" size="2x"></fa-icon>
    <span>{{ title | translate }}</span>
  </div></a
>
