.custom-text {
    font-family: "roboto", sans-serif;
    font-size: 22px;
    font-style: none;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    opacity: 0.9;
}

.custom-color {
    color:	#40aacf;
}

.custom-button {
        background: none 	#40aacf;
        border-color: #40aacf;
}

body  {
    background-color: #100e17;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    font-style: none;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
    color: white;
}

@media (max-width: 990px) {
    body {
        padding-bottom: 5rem;
    }
  }

.h4.card-title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
}